<div class="container">
  <div class = "row">
    <button type="button" class="btn btn-success" ng-click="startMission(sensors, center)">Start Sim</button>
      <button type="button" class="btn btn-warning" ng-click="stopMission()">Stop Sim</button>
      <button type="button" class="btn btn-primary" ng-click="droneStep()">Step</button>
      <p>
        <input type="checkbox" ng-model="stepSim"/> Step Through Simulation <br>
        <input type="checkbox" ng-model="sendPutReq"/> Update to DB <br>
        <input type="checkbox" ng-model="sendGetReq"/> Update from DB
      </p>
      <p>
        <b>Connected UAVs:</b> {{ uavNumber }} / 100
        <br><b>Sim Time Elapsed (ms): </b> {{ simTime }}
        <br><b>Real Time Elapsed (s): </b> {{ simRealTime }}
      </p>
      <!--<input id="lattitude" class="form-control" type="number" step="0.01" ng-model="center.lat" required> -->
      <!--<input id="longitude" class="form-control" type="number" step="0.01" ng-model="center.lng" required> -->
  </div>
  <div class = "row">
    <div class="col-md-8">
      <!-- <iframe src="map.html" height="700px" width="100%"></iframe> -->
      <leaflet lf-center="center" paths="dronePath" markers="markers" height="650px" width="750px"></leaflet>
    </div>
    <div class="col-md-4">
      <p><input class="form-control" ng-model="selectedSensorIndex" id="disabled" type="number" value="0"></p>
      <p><b>DRONE SENSOR DATA-SET #{{ sensors[selectedSensorIndex]._id }} </b></p>
      <p><b>Battery:</b> {{ sensors[selectedSensorIndex].battery }}% </p>
      <p><b>GPS Signal Strength:</b> {{ sensors[selectedSensorIndex].gpsSigStr }} </p>
      <p><b>GPS:</b> {{ sensors[selectedSensorIndex].gpsN }}, {{ sensors[selectedSensorIndex].gpsW }} </p>
      <p><b>Heading:</b> {{ sensors[selectedSensorIndex].headingN }}, {{ sensors[selectedSensorIndex].headingW }} </p>
      <p><b>Destination:</b> {{ sensors[selectedSensorIndex].destN }}, {{ sensors[selectedSensorIndex].destW }} </p>
      <p><b>Accelerometer:</b> <br><b>X: </b>{{ sensors[selectedSensorIndex].accelX }} <br><b>Y: </b>{{ sensors[selectedSensorIndex].accelY }} <br><b>Z: </b>{{ sensors[selectedSensorIndex].accelZ }} </p>
      <p><b>Visual Positioning Sensor (isActive):</b> {{ sensors[selectedSensorIndex].vPosSensor }} </p>
      <p><b>Ultrasonic Sensor (isActive):</b> {{ sensors[selectedSensorIndex].uSonicSensor }} </p>
      <p><b>Internal Error Message:</b> {{ sensors[selectedSensorIndex].internalErr }} </p>
      <p><b>Internal Error Flag:</b> {{ sensors[selectedSensorIndex].internalErrCode}} </p>

      <p><b>Distance Remaining: </b> {{ sensors[selectedSensorIndex].distRem }} M</p>

      <p><b>Sensor data sets (json):</b><br>
      <div style="height:140px;width:100%;border:1px solid #ccc;font:14px Consolas;overflow:auto;">
        {{sensors}}
      </div>
    </div>
  </div>
</div>
